
<p class="atomExampleReference test" id="atomExample">An example Atom</p>

<style>
    .atomExampleReference {
        color: purple;
    }

    .test {
        color: blue;
    }

    .atomExampleReference:hover {
        color: blue;
    }

    .test:hover {
        color: green;
    }
</style>